spring.application.name=${SPRING_APPLICATION_NAME:OrariAperti}
# Database Configuration
spring.datasource.url=${SPRING_DATASOURCE_URL:jdbc:mysql://localhost:3306/orariaperti}
spring.datasource.username=${SPRING_DATASOURCE_USERNAME:orariaperti_user}
spring.datasource.password=${SPRING_DATASOURCE_PASSWORD:orariaperti_pw}
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver

# JPA Configuration
spring.jpa.hibernate.ddl-auto=${SPRING_JPA_HIBERNATE_DDL_AUTO:update}
spring.jpa.show-sql=${SPRING_JPA_SHOW_SQL:true}
spring.jpa.properties.hibernate.format_sql=${SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL:true}
spring.jpa.properties.hibernate.dialect=${SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT:org.hibernate.dialect.MySQLDialect}

# CORS and Redirect Configuration
frontend.url=${FRONTEND_URL:http://localhost:3000}
